@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;300;400;700&family=Roboto:wght@300;500;700&display=swap');

:root {
  --bg-secondary: #161927;
  --bg-primary: #1d2234;
  --border-color: #252a41;

  --primary: #28afb0;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100vw;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: var(--bg-secondary);
  color: white;
}

#root {
  padding: 0.75rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 0.75rem;
  opacity: 0.75;
}

.body {
  max-width: 920px;
  margin: 0.75rem auto 0.75rem auto;

  background-color: var(--bg-primary);

  border-radius: 0.5rem;

  padding: 0.75rem;

  border: 1px solid var(--border-color);
  box-shadow: 0rem 0rem 0.25rem rgba(15, 15, 25, 0.75);
}
